.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  border:1px solid rgba(255,255,255,0.2);
  box-shadow:0 15px 40px rgba(0,0,0,0.15);
  animation:fadeIn .7s ease;
}
h1 {
  font-size: 3rem;
  color: #1565c0;
  margin-bottom: 10px;
  background:linear-gradient(90deg,#2563eb,#06b6d4);
  -webkit-background-clip:text;
  color:transparent;
}
p {
  color: #555;
  margin-bottom: 30px;
  font-size: 1.1rem;
}
input {
  width: 320px;
  padding: 12px 15px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border:2px solid transparent;
  transition:0.3s;
}
input:focus {
  outline:none;
  border-color:#3b82f6;
  box-shadow:0 0 12px rgba(59,130,246,0.3);
}
button {
  margin-top: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  background: #1976d2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  transform: translateY(-2px);
  background:#2563eb;
  color:white;
  cursor:pointer;
}
.default{
  background: linear-gradient(135deg,#dbeafe,#bfdbfe);
}

.clear{
  background: linear-gradient(135deg,#FFF7AE,#FFE082,#FFD54F);
}

.clouds{
  background: linear-gradient(135deg,#cfd9df,#e2ebf0);
}

.rain{
  background: linear-gradient(135deg,#4b79a1,#283e51);
}

.thunderstorm{
  background: linear-gradient(135deg,#373B44,#4286f4);
}

.snow{
  background: linear-gradient(135deg,#E6F3FF,#D6ECFF,#C8E6FF);
}

.mist{
  background: linear-gradient(135deg,#d7d2cc,#304352);
}